*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

body{
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*    background-color: beige;*/
/*    background: linear-gradient(45deg,rgb(211,72,54),honeydew);*/
    background: url("./assets/img/only_new_logo_bg.svg");
/*    background-size: contain;*/
    background-repeat: repeat;
    
}

nav{
    left: 0;
    top: 0;
    position: relative;
    height: 6rem;
    width: 100%;
    background-color: rgb(211,72,54);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav + div{
    width: 90%;
    padding: 2rem;
    
}
h2{
    color: white;
}
h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: underline;
}

ol{
/*    padding: 0;*/
    margin-left: 3.2rem!important;
    color: #323232;
}

ol>li>a{
/*    line-height: 3rem;*/
/*    font-size: 2rem;*/
    color: #323232;
}

a{
    text-decoration: none;
    color: rgb(45,45,45);
    pointer-events: none;
}

